* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bg-theme {
  background-color: #f9f3e3;
}

/* .login-form-page{
  height:100vh;
  background:#e9eef7;
  font-family:sans-serif;
} */

/* .spContainer{
  width:100%;
  max-width: 600px;
} */

.login-card {
  border-radius: 15px;
  transition: 0.25s;
  padding: 40px 50px 40px 50px;
  border: none;
  background-color: #fff;
}
.login-card:hover {
  transition: 0.25s;
}

.login-form-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.login-form-logo a {
  text-align: center;
}

.login-form-logo img {
  width: 100%;
  height: auto;
}

.login-card h3 {
  font-size: 25px;
  font-weight: 600;
}

.login-card p {
  font-size: 14px;
  margin-top: 10px;
  color: #737373;
}

.login-form-section .form-group {
  padding: 0px 0px 20px 0px;
}

.login-form-section form label {
  font-size: 16px;
  font-weight: 500;
  color: #181818;
}

.login-form-section form .form-control {
  /* background-color: #f9f3e3; */
  border: 1px solid #e9e9e9;
  transition: 0.25s;
  border-radius: 50px;
  margin-top: 10px;
  padding: 15px 15px;
  font-size: 14px;
}

.login-form-section form input:focus {
  box-shadow: none;
  background-color: #f9f3e3;
}

.forgot-page-btn {
  width: 100%;
  background: linear-gradient(
    92.46deg,
    #ff0059 -2.4%,
    #ff144c 9.34%,
    #ff472c 42.87%,
    #ff6c14 72.14%,
    #ff8305 95.69%,
    #ff8b00 110.57%
  );
  margin-top: 15px;
  padding: 15px 15px;
  border-radius: 50px;
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
  border: none;
}

.forgot-back-btn {
  padding: 10px 0px 20px;
}

.forgot-back-btn a {
  color: #000 !important;
}

.forgot-back-text {
  margin-left: 10px;
  font-size: 18px;
  font-family: "Poppins", sans-serif !important;
}

/* mobile responsive */

@media only screen and (max-width: 600px) {
  .login-form-logo img {
    width: 100%;
    height: auto;
  }

  .login-card {
    padding: 30px 25px 30px 25px;
  }

  .login-btn-group {
    row-gap: 20px;
  }

  .forgot-page-btn button {
    width: 100%;
  }

  .facebook-btn-login,
  .google-btn-login {
    padding: 15px 15px 15px 15px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 767px) and (min-width: 600px) {
  .forgot-page-btn button {
    width: 100%;
  }
}

/* @media only screen and (max-width: 1199px) and (min-width: 768px){
        
       } */

@media only screen and (max-width: 1399px) and (min-width: 1200px) {
  .login-form-col {
    width: 50%;
  }

  .login-card {
    padding: 30px 20px 30px 20px;
  }
}
